h1,h2,h3,h4,h5,h6 {
	font-family: $font-heading;
}

h1.title {
	font-size: 30px;
	color: $color-dark;
	font-weight: 100;

	@include respond-to(handhelds) {
		font-size: 18px;
		font-weight: 400;
	}
}

.font-big-light {
	font-size: 36px;
	font-weight: 100;
}

.heading {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	display: inline-block;
}

.sub-heading {
	font-size: 16px;
	font-weight: 600;
	line-height: 21px;
	display: inline-block;
}


.small-font {
	font-size: 11px;
	font-weight: 600;
}

.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}

