footer {
	width: 100%;
 	background: $color-bg;
 	border-top: 1px solid darken($color-bg,3%);
 	margin-top: 60px;
  	padding: 30px;
 	color: $color-dark;
 	.copy {
		font-size: 11px;
		font-weight: 600;
 	}
 	ul {
 		float: right;
 		li {
 			display: inline-block;
 			a {
	 			font-size: 11px;
	 			font-weight: 500;
	 			padding: 10px;
 			}
 		}
 	}

 	@include respond-to(view-mobile) {
 		text-align:  center;
 		line-height: 18px;
 		ul {
 			float: inherit;
 			padding-top: 20px;
 			li {

 				a {
 					border: 1px solid #ddd;
 					display: block;
 					margin: 5px;
 					border-radius: 4px;
 				}
 			}
 		}
 	}
}