header.header-section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content:center;
	align-items:center;
	background: url(https://static.pexels.com/photos/307008/pexels-photo-307008.jpeg)no-repeat center center fixed;
	background-size: cover;
	position: relative;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: $color-dark;
		opacity: .5;
		z-index: 1;
	}
	.header-content {
		width: 100%;
		overflow: hidden;
		display: block;
		z-index: 2;
		position: relative;
		text-align: center;
		h1 {
 			color: #ffffff;
			font-weight: 900;
			font-size: 72px;
			width: 100%;
			margin-bottom: 60px;
		}
		.box-search {
			width: 100%;
			form {
				width: 100%;
				border: 2px solid #ffffff;
				display: flex;
				border-radius: 100px;
				color: #ffffff;
				padding: 0px 20px 0px 25px;
				#dateRange {
					max-width: 330px;
					border-right: 2px solid #ffffff;
					.field {
						float: left;
						width: 50%;
						border-right: 0px;
					}
				}
				.field {
					padding:10px 20px; 
					text-align: left;
					border: none;
					border-right: 2px solid #ffffff;
					label {
						display: block;
					}
					select,
					input { 
						background: transparent;
						border: none;
						color: #ffffff;
						font-family: $font-base;
						width: 100%;
						padding-top: 5px;
						font-size: 18px;
						font-weight: 600;
						&:focus {
							outline: none;
						}

						&#where {
							position: relative;
						}
					}

					select {
						padding: 8px 0px;
						option {
							color: $color-dark;
						}
					}

					button {
						color: #ffffff;
						font-size: 31px;
						background: transparent;
						border:none;
						cursor: pointer;
						padding: 7px 0px 0px 14px;
					}

					&:first-child {
						width: 42%;
					}

					&:nth-of-type(3),
					&:last-child {
						border-right: 0px;
					}
				}
			}
		} 
	}

	@include respond-to(handhelds) {
		display: block;
		padding-top: 30px;
		.header-content {
			padding: 0px 20px;
			h1 {
				font-size: 32px;
			}

			.box-search {
				form {
					display: block;
					border-radius: 10px;
					padding: 0px;
					border-width: 1px;
					overflow: hidden;
					.field {
						width: 100%;
						border-right: 0px;
						border-bottom: 1px solid #fff;
						&:first-child {
							width: 100%;
						}
						&:last-child {
							background: #fff;
							border-bottom: 0px;
							button {
								width: 100%;
								color: $color-dark;
							}
						}

					}
				}
			}
			
		}
	}

}

.destination-drop{
	position: absolute;
	top: 0;
	background-color: white;
	z-index: 999;
	display: none;
	max-width: 400px;
	width: 100%;

	transform: translate(-100px,12px);

	.close-drop{
		position: absolute;
		right: 15px;
		top: 5px;
		font-weight: 700;
		line-height: normal;
		color: #666;
	}

	&:after {
		content: '';
	    position: absolute;
	    top: -20px;
	    left: 50%;
	    margin-left: -10px;
	    width: 0;
	    height: 0;
	    border-width: 10px;
	    border-style: solid;
	    border-color: transparent transparent #ffffff transparent;
	}
 
	table{
		width: 100%;
		table-layout: fixed;
		border: 1px solid #ffffff;
		padding: 10px;
		border-radius: 0px 0px 50px 50px;
		text-transform: uppercase;
		td:not(:last-child){
			width: 50%;
			border-right: 1px solid #ffffff;
			vertical-align: top;
			padding: 10px 0;
		}

		.group-title,a{
			display: block;
			padding: 5px 10px;
			font-size: 11px;

		}
		.group-title{
			color: $color-dark;
			font-weight: 700;
			font-size: 13px;
			padding: 15px 10px 5px 10px;
		}
		.destination{
			color: $color-dark;

			&:hover{
				color: $color-primary;
				cursor: pointer;
			}
		}
	}
}