// revenue 
.box-revenue {
	border-radius: 6px;
	background: $color-primary;
	min-height: 155px;
	width: 100%;
	color: #fff;
	padding: 20px;
	margin-bottom: 30px;

	form {
		select {
			background: transparent;
			border: 1px solid #ffffff;
			padding: 5px 10px;
			width: 100%;
			margin-top: 15px;
			color: #ffffff;
			border-radius: 4px;
			font-family: $font-base;
			option {
				color: $color-primary;
			}
		}
	}

	.info-revenue {
		text-align: right;
		padding-top: 5px;
		h3 {
			padding: 20px 0px;
			sub {
				font-size: 70%;
				display: inline-block;
			}
		}
	}
}

// boxed-property 

.boxed-property {
	width: 100%;
	min-height: 155px;
	text-align: center;
	padding: 20px 0px;
	ul {
		li.list-properties {
			padding: 10px 25px 0px 25px;
			width: 33%;
			float: left;
			border-right: 1px solid rgba(221, 221, 221, 0.41);
			&:last-child {
				border: none;
			}
			span {
				font-style: italic;
				font-size: 11px;
				font-weight: 600;
				color: #9c9c9d;

			}

			.box-info-product {
				padding-top: 10px;
				text-align: center;
				ul li {
					display: inline-block;
					width: 48%;

					&.available {
						color: $color-primary
					}

					&.booked {
						color: #aeaeaf;
					}

					label {
						display: block;
						padding-top: 5px;
						font-size: 9px;
						font-weight: 900;
					}
				}
			}

		}
	}
}

.box-graph {
	width: 100%;
	form.default-form {
		border: none;
		padding-top: 0px;

	}

	.content-graph {
		width: 100%;
	}
}

// latest transaction

.latest-transaction {
	padding-top: 30px;
	a.link {
		float: right;
	}

	.list-table {
		padding: 15px 0px;
	}
}