.btn {
	border: none;
	padding: 0px 20px;
	border-radius: 6px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	min-width: 150px;
	text-align: center;
	font-family: $font-base;
	cursor:pointer;
	background: transparent;
	font-weight: 700;
	transition:all 0.3s;
	&.full {
		width: 100%;
		text-align: center;
	}
	&:focus {
		outline: none;
	}

}

.btn-primary {
	@extend .btn;
	background: $color-primary;
	color: #ffffff;
	box-shadow: 0px 2px 8px -1px #4dbeec;
	&:hover {
		background:darken($color-primary, 8%);
		color: #ffffff;
	}
}

.btn-secondary {
	@extend .btn;
	background: $color-secondary;
	box-shadow: 0px 2px 8px -1px #55ea4e;
	color: #ffffff;
	&:hover {
		background:darken($color-secondary, 8%);
		color: #ffffff;
	}
}


.btn-grey {
	@extend .btn;
	background: #d4d6d6;
	color: #6c6c6c;
	&:hover {
		background:darken(#d4d6d6, 8%);
		color: #6c6c6c;
	}
}

.btn-white {
	@extend .btn;
	background: #ffffff;
	color: $color-dark;
	border: 1px solid #ddd;
	height: 42px;
	&:hover {
	}
}


.btn-reg {
	padding:20px 0px;
	height: 80px;
	font-weight: 500;
	color: $color-soft;
	cursor: pointer;
	font-family: $font-base;
	font-size: 21px;
	position: relative;
	i {
		font-size: 28px;
		position: absolute;
		left: 67px;
    	top: 28px;
	}

}
.btn-facebook {
	@extend .btn;
	background: #163a66;
	box-shadow: 0px 7px 0px 0px darken(#163a66, 5%);
	&:hover {
		background:darken(#163a66, 8%);
		color: $color-soft;
	}
}

.btn-mail {
	@extend .btn;
	background: #dd443c;
	box-shadow: 0px 7px 0px 0px darken(#dd443c, 5%);
	&:hover {
		background:darken(#dd443c, 8%);
		color: $color-soft;
	}
}

.btn-primary-o {
	@extend .btn;
	border:1px solid $color-primary;
	color: $color-primary;
	&:hover {
		background:$color-primary;
		color: $color-soft;
	}
}

.btn-white-o {
	@extend .btn;
	border:1px solid #fff;
	color: #fff;
	&:hover {
		background:#ffffff;
		color: $color-dark;
	}
}


.btn-big {
	padding: 14px 30px;
	font-size: 21px;
	width: 300px;
	border-width: 2px;
	height: auto;
	font-weight: 600;
}
.btn-small {
	padding: 5px 8px;
	font-size: 11px;
}


.btn-cancel {
	i {
		display: none;
	}
}