.label {
	width: auto;
	display: inline-block;
	font-size: 10px;
	border-radius: 100px;
	padding: 6px 15px;
	font-weight: 900;
	text-transform: uppercase;
	color: #ffffff;
}

.label-yellow {
	@extend .label;
	background: $color-yellow;
}

.label-green {
	@extend .label;
	background: $color-secondary;
}

.label-red {
	@extend .label;
	background: $color-error;
}

.label-black {
	@extend .label;
	background: $color-dark;
}

.label-blue {
	@extend .label;
	background: $color-primary;
}
