nav.navigation {
	width: 100%;
 	background: transparent;
  	position: fixed;
  	top: 0px;
 	left: 0px;
 	z-index: 10;
 	padding: 40px 0px;
 	transition : all 0.3s;
 	a.logo {
		width: 200px;
		height: 50px;
		background: url(../images/logo.png)no-repeat center center;
		background-size: 100%;
		display: inline-block;
 	}

 	.menu-burger {
 		display: none;
 	}

 	.menu {
 		float: right;
		ul {
			float: left;
			li {
				float: left;
				position: relative;
				&:hover {
					ul.submenu {
						transform:translateX(50%) translateY(10%);
						opacity: 1;
						visibility: visible;
					}
				}
				a {
					display: block;
					padding: 15px;
					font-size: 16px;
					color: #ffffff;
					font-weight: 400;
					position: relative;
					i {
						display: none;
					}
 
					.bullet-notif {
						width: 6px;
						height: 6px;
 						background: red;
 						border-radius: 100%;
  						top: 15px;
 						right: 8px;
 						position: absolute;
					}
				}

				ul.submenu {
					float: inherit;
					position: absolute;
					top: 100%;
					background: #ffffff;
					border-radius: 10px;
					padding: 20px 50px;
					right: 50%;
					transform:translateX(50%) translateY(20%);
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s ease; 
					&:after {
						content: '';
						position: absolute;
						width: 0;
						height: 0;
						top: -19px;
						left: 50%;
						border-width: 10px;
						border-style: solid;
						border-color: transparent transparent #fff transparent;
						margin-left: -10px;
					}
	 				li {
						float: initial;
						display: block;
						a {
							text-align: center;
							display: block;
							color: $color-dark;
							&:hover {
								color: $color-primary;
							}

							i {
								display: none;
							}
						}
					}
				}

			}
		}
		.box-login {
			border-radius: 100px;
			border: 1px solid #ffffff;
			float: left;
			position: relative;
			margin-left: 100px;
			top: 10px;
			a {
				display: inline-block;
				position: relative;
				padding: 8px 20px;
				border-radius: 100px;
				color: #ffffff;
				font-weight: 600;
				&.sign-up {
					color: $color-primary;
					background: #fff;
				}
			}
		}
 	}

 	&.navigation-block {
 		background: $color-soft;
 		padding: 20px;

 		a.logo {
 			width: 160px;
 			background-image: url(../images/logocolor.png);
 		}

 		.menu {
 			ul {
 				li  {
 					a {
 						color: $color-primary;
 						&:hover {
 							color: $color-dark;
 						}
 					}
 				}
 			}

 			.box-login {
 				border-color: $color-primary;
 				a {
 					color: $color-primary;
 					&.sign-up {
 						color: #ffffff;
 						background: $color-primary;
 					}
 				}
 			}
 		}
 	}

 	@include respond-to(handhelds) {
 		padding: 20px 0px !important;
 		background: $color-soft !important;
 		a.logo {
 			width: 100px !important;
			height: 20px !important;
			background-image: url(../images/logocolor.png) !important;
 		}

 		.menu-burger {
	 		display: block;
	 	}

 		.menu {
 			width: 80%;
 			height: 100vh;
 			position: fixed;
 			background: $color-soft;
 			right: 0px;
 			top: 0px;
 			overflow: auto;
 			padding-top: 100px;
 			transform: translateX(125%);
 			transition:all 0.3s;
		    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.52);
 			ul {
	 			li {
	 				float: inherit;
	 				width: 100%;
	 				text-align: left;
	 				border-bottom: 1px solid #eaeaea;
	 				ul.submenu {
	 					position: relative;
	 					opacity: 1;
	 					top: 0;
	 					left: 0;
	 					transform:translate(0px,0px);
	 					visibility: visible;
	 					padding: 0px;
	 					width: 100%;
	 					border-radius:  0px;
	 					background: #eaeaea;
	 					max-height: 0px;
	 					overflow: hidden;
	 					&.open-submenu {
							max-height: 1000px;
	 					}

	 					&:after {
	 						left: 40px;
	 						border-color: transparent transparent #eaeaea transparent;
	 					}
	 					li {
	 						border-color: #ddd;
	 						a {
	 							text-align: left;
	 							font-size: 14px;
	 						}
	 					}
	 				}
	 				a {
	 					color: $color-dark !important;
	 					padding-left: 30px;
	 					i {
	 						display: inline-block;
	 						text-align: right;
	 						float: right;
	 					}
	 					.bullet-notif {
	 						top: -4px;
						    left: 5px;
						    position: relative;
						    display: inline-block;
	 					}
	 				}

	 				&:hover {
						ul.submenu {
							transform:translateX(0%) translateY(0%);
						}
					}

					&:last-child {
						border-bottom: 0px;
						margin-top: 15px;
						a.lease {
							margin-right: 15px;
							color: $color-primary !important;
						}
					}
	 			}
 			}

 			.box-login {
 				border-radius: 0px;
 				border:none;
 				margin-left: 0px;
 				top: 0px;
 				margin-top: 10px;
 				padding: 0px 30px;
 				width: 100%;
 				text-align: center;
 				a {
					width: 100%;
					display: block;
					margin: 10px 0px;
					border: 1px solid $color-primary;
					color: $color-primary;
					padding: 15px 0px;

					&.sign-up {
						color: #fff;
						background: $color-primary;
					}
 				}
 			}

 			&.menu-open {
 				transform: translateX(0%);
 				ul {
 					width: 100%;
 				}
 			}
 		}
 	}

}



nav.nav-after-login {
	background: $color-soft;
		padding: 20px;

		a.logo {
			width: 160px;
			background-image: url(../images/logocolor.png);
		}

		.menu {
			ul {
				li  {
					a {
						color: $color-dark;
						&:hover {
							color: $color-primary;
						}

						&.lease {
							margin-top: 0px;
							margin-left: 20px;
							padding: 10px 20px;
							color: $color-primary;
							&:hover {
								background: transparent;
							}
						}
					}
				}
			}
			 
		}
}
 

.menu-burger {
  width:30px;
  height:30px;
  border:0px;
  cursor:pointer;
  background:transparent;
  position: fixed;
  top: 15px;
  right: 25px;
  z-index: 99;
  outline: none;
  span {
    width:100%;
    height:3px;
    display:block;
    border-radius:3px;
    background:$color-dark;
    margin:4px;
    transition:all 0.3s;
  }
  
  &.close {
    span {
      &:first-child {
        transform:rotate(45deg) translate(14px, -11px);
        width:50%;
      }
      &:last-child {
        transform:rotate(135deg) translate(-13px, -11px);
        width:50%;
      }
      
    }
    
    
  }
}